.feature-card:hover{
  transform: scale(1.02,1.02);
  animation-duration: 2s;
  transition: ease-in-out;
}

.icon-container{
  background-image: linear-gradient(#9F7AEA, #553C9A);
}

.icon{
  font-size: 1.7rem;
}

.home-screen{
  background-image: linear-gradient(#38B2AC, #285E61);
}

.btn{
  color: #fff;
}

.btn:hover{
  color: #2D3748;
}

.share-btn:hover{
  color: #553C9A;
}
